<div class="container-fluid">
    <div class="row">
        <app-navbar></app-navbar>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="label-form">Flight Name</label>
            <input name="fname" type="text" class="form-control" [(ngModel)]="fname"></div>


            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                <label for="" class="label-form">Destination</label>
                <input  name="destination" type="text" class="form-control" [(ngModel)]="destination"></div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
            <label for="" class="label-form">Origin</label>
            <input  name="origin" type="text" class="form-control" [(ngModel)]="origin"></div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                <label for="" class="label-form">Capacity</label>
                <input  name="capacity" type="text" class="form-control" [(ngModel)]="capacity"></div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                    <button class="btn btn-primary" (click)="read()">Submit</button>
                </div>

    </div></div>